.para{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    background-color: blue;
    border-radius: 20px;
    height: 50px;
}
.searchBar{
    text-align: center;
    color: aliceblue;
    background-color: blue;
    border-radius: 20px;
    height: 30px;
}
#searchText{
    width: 30%;
    border-radius: 20px;
}
.allbtn{
    width: 10%;
    border-radius: 20px;
}

#tables{
    text-align: center;
}
#t-body{
    background-color: blue;
    color: white;
    margin-top: 30px;
    margin-left: 15%;
    border: 2px solid black;
}
#tables{
    text-align: center;
}